@model CarWash.MVC.ViewModels.CustomerIndexViewModel

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<partial name="../Customers/IndexSearch" model="@Model.SearchParameters"/>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entity.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.IsSendNotify)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Entities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Sex)
                    {
                        <text>Female</text>
                    }
                    else
                    {
                        <text>Male</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSendNotify)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.CustomerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId })
                </td>
            </tr>
        }
    </tbody>
</table>
