@model CarWash.MVC.ViewModels.CustomerCarIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<partial name="./IndexSearch" model="@Model.SearchParameters" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entity.CustomerCarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Car.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="~/@item.Image" width="100" height="100" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CustomerCarId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.CustomerCarId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CustomerCarId })
                </td>
            </tr>
        }
    </tbody>
</table>
