@model CarWash.MVC.ViewModels.OrderIndexViewModel

@{
    ViewData["Title"] = "Orders";
}

<partial name="./IndexSearch" model="@Model.SearchParameters" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entity.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.CustomerCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Service.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCar.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
                @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
            </td>
        </tr>
}
    </tbody>
</table>
